.list__content {
    height: 680px;
}

.list__title {
    padding: 10px;
    margin-top: 0;
}

.list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.export__button {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.4s;
    background: linear-gradient(118deg, #04AA6D, #059862);
    color: #fff;
    border: 1px solid #625f6e;
    cursor: pointer;
}


.export__button:hover {
    background: none;
    box-shadow: 0 0 10px 1px #04AA6D;
    color: #625f6e;

}

.admin__search__input {
    border: 1px solid #6c7ae0;
    width: 200px;
    padding: 5px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
    margin-right: 5px;
}

.admin__search__button:hover {
    background: none;
    box-shadow: 0 0 10px 1px #6c7ae0;
    color: #625f6e;
}

.admin__search__button {
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.4s;
    background: #6c7ae0;
    color: #fff;
    border: 1px solid #625f6e;
    cursor: pointer;
}

.table__template {
    border-collapse: collapse;

}

.table__template th {
    border-collapse: collapse;
    font-size: 18px;
    color: #fff;
    background-color: #6c7ae0;
    padding: 10px;
    white-space: nowrap;
    position: sticky;
    top: 0
}

.table__posts {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e5e7ea;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    margin: 10px;
    height: 565px;
    overflow: scroll;
}

.table__template tr:nth-child(even) {

    background-color: #f8f6ff;
}

.table__template tr {
    color: #625f6e;
    transition: 0.2s;

}

.table__template tr:hover {
    color: #6c7ae0;
    background-color: #e5e7ea;
}

.table__template td {
    padding: 20px;

}

.button__action {
    font-size: 20px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #6c7ae0;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}