.modal__box {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.modal__active {
    visibility: visible;
    opacity: 1;
}

.modal__popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 900px;
    height: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.modal__popup .modal__close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.modal__popup .modal__close:hover {
    color: #06D85F;
}

.login__title {
    text-align: center;
    padding-bottom: 20px;
    max-width: 350px;
    font-family: "Nunito Bold";

}

.content__picture {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.modal__content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal__picture {
    padding-top: 50px;
    width: auto;
    height: auto;
    object-fit: cover;
    transition: .5s;
}

.modal__picture:hover {
    transform: scale(1.1);
}

.login__form {
    padding: 20px;
    width: 100%;
    padding-left: 50px;
}

.login__form input {
    padding-left: 42px;
    margin: 10px 0;
    display: block;
    font-size: 15px;
    border: none;
    border-radius: 18px;
    width: 100%;
    max-width: 350px;
    height: 40px;
    background: #e6e6e6;
    box-sizing: border-box;

}

.modal__form {
    position: relative;

}

.login__form a {
    display: block;
}

.login__button {

    display: block;
    width: 100%;
    max-width: 350px;
    font-family: "Nunito Bold";
    background-color: #646eff;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 18px;
    transition: 0.4s;
    cursor: pointer;

}

.login__button:hover {
    background-color: #000;
    color: #fff;
}

.login__create {
    margin-top: 60px;
    cursor: pointer;
}

.modal__icon {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.error__msg{
    color: red;
    width: 100%;
    margin-top: 0;
}
@media screen and (max-width: 980px) {


    .modal__popup {
        width: 80%;
    }

    .content__picture {
        width: 100%;
        height: 280px;
        padding-left: 7%;
    }
}

@media screen and (max-width: 800px) {
    .content__picture {
        display: none;
    }
    .modal__popup {
        width: 75%;
    }
    .login__form {
        padding-left: 20px;
    }
    .login__form input {
        max-width: unset;

    }
    .login__button {
        max-width: unset;
    }
    .login__title {
        max-width: unset;
    }
    .login__create{
        text-align: center;
        margin-top: 40px;
    }
}