.admin__template {
    background-color: #f8f8f8;
    display: flex;
    justify-content: start;
}

.admin__right {
    width: 80%;
    padding: 20px;
}

.admin__content {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 24px #22292f1a;
    border-radius: 4px;
    min-height: 85%;

}


@media only screen and (max-width: 950px) {
    .admin__right {
        width: 100%;
        padding: 0;
    }

    .admin__content {
        margin-top: 20px;

    }
}