div.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    bottom: 5px;
    transform: rotate(-45deg);
    cursor: pointer;
}

div.arrow::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: #646eff;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}


div.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 5px 0 0;
    border-style: solid;
    border-color: orange;
    transform-origin: 100% 0;
    transition: .2s ease;
}

div.arrow:hover::after {
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
}

div.arrow:hover::before {
    border-color: orange;
    transform: scale(.8);

}