.menu__content {
    width: 20%;
    min-height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 15px #22292f0d;
    overflow: hidden;
}


.menu__title {
    padding: 20px;
    color: #7367f0;
    cursor: pointer;
    transition: 0.4s;
    font-size: 26px;

}

.menu__title:hover {
    padding-left: 30px;
    transform: scale(1.1);

}

.list__items {
    padding: 0;
    transition: 0.4s;
    list-style: none;
}

.admin__link {
    padding: 10px 15px;
    margin: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    display: block;
    color: #625f6e;
    transition: 0.4s;
}

.list__item .active {
    background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, .7));
    box-shadow: 0 0 10px 1px #7367f0b3;
    color: #fff;
    transition: 0.4s;

}

.list__item .active:hover {
    color: #625f6e;

}

.admin__link:hover {
    background: none;
    box-shadow: 0 0 10px 1px #7367f0b3;

}

.label__menu {
    display: block;
    padding: 15px 5px 0;
    margin: 10px 15px;
    font-size: 16px;
    color: #a6a4b0;
}

/* RESPONSIVE */
@media only screen and (max-width: 1150px) {
    .menu__title {
        font-size: 20px;
    }

}
@media only screen and (max-width: 950px) {
    .menu__content {
        display: none;
    }

}