@font-face {
  font-family: "Nunito Light"; /*Can be any text*/
  src: local("Nunito"),
    url("./assets/fonts/static/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Medium"; /*Can be any text*/
  src: local("Nunito"),
    url("./assets/fonts/static/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Nunito Bold"; /*Can be any text*/
    src: local("Nunito"),
      url("./assets/fonts/static/Nunito-Black.ttf") format("truetype");
  }
