@font-face {
  font-family: "Nunito Light";
  /*Can be any text*/
  src: local("Nunito"),
    url("./assets/fonts/static/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Medium";
  /*Can be any text*/
  src: local("Nunito"),
    url("./assets/fonts/static/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  /*Can be any text*/
  src: local("Nunito"),
    url("./assets/fonts/static/Nunito-Black.ttf") format("truetype");
}

html,
body {
  height: 100%;
  max-width: 2200px;
  padding: 0;
  margin: 0 auto;
  font-family: "Nunito Medium";
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0 0;
}

a,
p,
li,
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  color: #2b394e;
}

a:hover {
  color: #4267B2;
}

a {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

strong {
  font-weight: bold;
  font-family: "Nunito Bold";
}

code {
  background-color: #e8e8e8;
}